.footer {
	padding-top: 370px;

	&__inner {}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		.request__form {
			flex-grow: 0;
			max-height: 50px;
		}
	}

	&__text {}

	&__title {
		font-weight: 900;
		font-size: 32px;
		line-height: 129.4%;
		color: #000000;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 129.4%;
		color: #333333;
	}

	&__contact {
		
	}

	&__call {
		display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: 129.4%;
		color: #000000;
		text-decoration: none;
	}

	&__email {
		display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: 129.4%;
		color: #62D6B3;
		text-decoration: none;
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
		flex: 0 1 40%;
	}

	&__nav-link {
		flex: 0 1 50%;
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 20px;
		line-height: 129.4%;
		color: #000000;
		text-decoration: none;
	}

	&__socials {
		display: flex;
	}

	&__social {
		& + & {
			margin-left: 5px;
		}
	}

	&__copyright {
		font-weight: 300;
		font-size: 16px;
		line-height: 129.4%;
		color: #000000;
	}
}

.request {

	&__form {}

	&__phone {}

	&__button {}
}
