.questions {
	position: relative;
	background-color: #F5F5F5;

	&__inner {
		padding: 100px 0 300px;

		@media (max-width: 1024px) {
			padding: 50px 0 300px;
		}
	}

	&__subtitle {
		margin-bottom: 50px;
	}

	&__accordion {
		max-width: 785px;
		margin: 0 auto;
		border-top: 1px solid rgba(#C4C4C4, 0.2);
		border-bottom: 1px solid rgba(#C4C4C4, 0.2);
	}

	&__item {}
}


.qeustions {

	&__title {}
}

.item-questions {
	padding: 20px 0;
	overflow: hidden;

	&+& {
		border-top: 1px solid rgba(#C4C4C4, 0.2);
	}

	&__trigger {
		display: flex;
		cursor: pointer;
	}

	&__button {
		position: relative;
		width: 22px;
		height: 22px;
		cursor: pointer;
		padding: 0;
		border: none;
		background-color: transparent;

		@media (max-width: 768px) {
			width: 18px;
			height: 18px;
		}

		// span {
		// 	position: absolute;
		// 	top: 11px;
		// 	display: block;
		// 	width: 22px;
		// 	height: 2px;
		// 	background-color: #62D6B3;

		// 	@media (max-width: 768px) {
		// 		top: 9px;
		// 		width: 18px;
		// 	}

		// 	&:first-child {
		// 		transform: rotate(90deg);
		// 	}
		// }

		// &--active {
		// 	span {
		// 		&:first-child {
		// 			transform: rotate(0);
		// 		}
		// 	}
		// }

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 11px;
			display: block;
			width: 22px;
			height: 2px;
			background-color: #62D6B3;
			transition: transform 0.3s ease 0s;
		}

		&::before {
			transform: rotate(90deg);
		}

		&--active {
			&::before {
				transform: rotate(0deg);
			}
		}

	}

	&__label {
		padding-left: 30px;
		font-weight: 500;
		font-size: 20px;
		line-height: 129.4%;
		color: #333333;

		@media (max-width: 768px) {
			padding-left: 22px;
			font-size: 16px;
		}
	}

	&__content {
		display: none;
		margin-top: 15px;
		padding-left: 50px;
		font-weight: 300;
		font-size: 16px;
		line-height: 129.4%;
		color: #000000;

		@media (max-width: 768px) {
			padding-left: 42px;
			font-size: 14px;
		}

		&--active {
			display: block;
		}
	}
}

.item-questions--active {

	.item-questions__button {
		&::before {
			transform: rotate(0deg);
		}
	}

	.item-questions__content {
		display: block;
	}
}

.roadmap-questions {
	position: absolute;
	bottom: -300px;
	right: 0;
	display: flex;

	@media (max-width: 1150px) {
		position: static;
		bottom: 0;
		flex-direction: column;
		margin-top: 20px;
	}

	&__body {
		width: 656px;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url(../images/roadmap-bg.svg) 50% 50% no-repeat;

		@media (max-width: 1150px) {
			width: auto;
			background: url(../images/roadmap-bg-sm.svg) 50% 50% no-repeat;
			background-size: 700px 450px;
		}

		@media (max-width: 560px) {
			background-size: contain;
		}
	}

	&__text {
		max-width: 495px;

		@media (max-width: 1150px) {
			max-width: 400px;
		}

		@media (max-width: 480px) {
			max-width: 300px;
		}

		@media (max-width: 375px) {
			max-width: 250px;
		}
	}

	&__title {
		margin-bottom: 25px;
		font-weight: 900;
		font-size: 32px;
		line-height: 129.4%;
		color: #000000;

		@media (max-width: 560px) {
			margin-bottom: 15px;
			font-size: 22px;
		}
	}

	&__description {
		margin-bottom: 50px;
		font-weight: 300;
		font-size: 20px;
		line-height: 129.4%;
		color: #000000;

		@media (max-width: 560px) {
			margin-bottom: 25px;
			font-size: 14px;
		}

		@media (max-width: 375px) {
			margin-bottom: 5px;
		}
	}

	&__director {
		display: flex;
		align-items: center;
	}

	&__name {
		margin-right: 25px;
		font-weight: 300;
		font-size: 20px;
		line-height: 129.4%;
		color: #000000;

		@media (max-width: 560px) {
			font-size: 14px;
		}
	}

	&__social {
		display: flex;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-right: 5px;
		border: 1px solid #ffffff;
		border-radius: 5px;
	}

	&__image {
		max-width: 528px;
		max-height: 544px;

		@media (max-width: 1150px) {
			position: absolute;
			right: 0;
			bottom: 0;
			max-height: 480px;
		}

		@media (max-width: 850px) {
			max-height: 350px;
		}

		@media (max-width: 450px) {
			bottom: 30px;
			right: -80px;
		}
	}
}