.works {

	&__inner {}

	&__title {}

	&__subtitle {}

	&__description {
		margin-bottom: 140px;
	}

	&__slider {}

	&__item {}
}

.container {}

.inner {}

.title {}

.subtitle {}

.description {}

.item-works {
	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 110px;
	}

	&__image {
		border-radius: 25px;
		box-shadow: 0px 23px 39px rgba(0, 0, 0, 0.2);
	}

	&__text {
		max-width: 520px;
	}

	&__title {
		margin-bottom: 35px;
		font-weight: 500;
		font-size: 24px;
		line-height: 129.4%;
		color: #333333;
	}

	&__description {
		margin-bottom: 45px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
	}

	&__stats {}
}

.stats-works {
	display: flex;
	justify-content: space-between;
	color: #FFFFFF;
	background: linear-gradient(268.32deg, #2FE99C 0%, #33B8B6 100%);
	box-shadow: 0px 20px 30px rgba(98, 214, 179, 0.3);
	border-radius: 10px;
	
	&__col {
		padding: 15px 20px;

		& + & {
			border-left: 1px solid rgba(#FFFFFF, 0.3);
		}
	}

	&__hours {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;

		span {
			font-size: 15px;
			line-height: 18px;
		}
	}

	&__label {
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
	}
}
